<section class="container my-3">
  <div class="display-3 d-flex align-items-center">
    <span>Products</span>
    <button
      mat-flat-button
      color="primary"
      isRoundButton="true"
      (click)="ctaAddProduct()"
      class="ms-3"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="main-content mt-3">
    <form
      [formGroup]="productForm"
      class="d-flex align-items-center justify-content-between mt-3"
    >
      <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input formControlName="search" matInput />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-radio-group formControlName="status">
        <mat-radio-button value="AVAILABLE">Available</mat-radio-button>
        <mat-radio-button value="DELETED">Deleted</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select formControlName="createdAt">
          <mat-option value="desc">Sort: Newest</mat-option>
          <mat-option value="asc">Sort: Oldest</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <mat-paginator
      [length]="totalProductCount"
      [pageSize]="repositoryOption._limit"
      [pageSizeOptions]="[8, 12, 24, 48, 100]"
      (page)="paginatorChange($event)"
    >
    </mat-paginator>

    <div class="product-card--wrapper" *ngIf="products?.length">
      <ng-container *ngFor="let product of products">
        <app-product-card
          [product]="product"
          [ctaList]="productCTA"
        ></app-product-card>
      </ng-container>
    </div>
  </div>
</section>
