<section class="container my-3">
  <div class="display-3">Products</div>
  <div class="main-content mt-3">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip selected>Available</mat-chip>
      <mat-chip>Deleted</mat-chip>
    </mat-chip-list>

    <div class="d-flex align-items-center justify-content-between mt-3">
      <div class="product-result">
        1-24 of over {{ products.length }} results for "Available"
      </div>

      <div class="col-auto">
        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select>
            <mat-option [value]="'newest'">Newest</mat-option>
            <mat-option [value]="'oldest'">Oldest</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="product-card--wrapper">
      <ng-container *ngFor="let product of products">
        <app-product-card
          [product]="product"
          [ctaList]="productCTA"
        ></app-product-card>
      </ng-container>
    </div>

    <div class="paginate">
      <mat-paginator
        [length]="products.length"
        [pageSize]="12"
        [pageSizeOptions]="[12, 24, 48, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</section>
